{% extends "base.twig" %}

{% block content %}
    <div class="basic">
        <h2>We can't find the page you're looking for.</h2>
        <p>Sorry for the inconvenience. We've been upgrading our site so it's possible that we moved or renamed this page. To return to the previous page, use the Back button in your browser. You can always click on the Bethel logo to return to the homepage or use the search box above to find what you're looking for.</p>
        <p>If you think this error is something we should know about, <a href="http://www.bethel.edu/about/contact/questions-comments">please tell us</a>.</p>
    </div>
{% endblock %}