<div class="global__header" role="banner">
    <div class="inner">    
        <div class="global__logo">
            <a href="https://www.bethel.edu"><img alt="Bethel University" src="//cdn1.bethel.edu/dev/images/logo-white.png"/></a>
        </div>
    
        <nav class="big-global__navigation" role="navigation">
            <ul>
            
            <li><a href='//www.bethel.edu/undergrad/'>Undergrad</a></li><li><a href='//www.bethel.edu/adult-undergrad/'>Adult Undergrad</a></li><li><a href='//www.bethel.edu/graduate/'>Graduate</a></li><li><a href='//www.bethel.edu/seminary/'>Seminary</a></li><li><a href='//www.bethel.edu/academics/online'>Online</a></li>            
            </ul>
        </nav>
    
        <a class="burger" href="#toolbox" id="js-globalNav-button">
            <span class="burger-icon"></span>
            <span class="burger-text">Menu</span>
        </a>
    
    </div>
</div>