<div class="global__toolbox" id="toolbox">
    <div class="inner">
        <a class="global__toolbox__close-btn  btn  btn-small" id="js-globalNav-button--close" href="#top">✖ close</a>
        <nav class="global__navigation" role="navigation">
            <ul>
                <li>
                    <a class="" href="/undergrad/">Undergrad</a>
                </li>
                <li>
                    <a class="" href="/adult-undergrad/">Adult Undergrad</a>
                </li>
                <li>
                    <a class="" href="/graduate/">Graduate</a>
                </li>
                <li>
                    <a class="" href="/seminary/">Seminary</a>
                </li>
                <!--#passthrough
                <?php
                    navListItem($startsWith, "undergrad", "/undergrad/", 'Undergrad');
                    navListItem($startsWith, "adult-undergrad", "/adult-undergrad/", 'Adult Undergrad');
                    navListItem($startsWith, "adult-undergrad", "/graduate/", 'Graduate');
                    navListItem($startsWith, "seminary", "/seminary/", 'Seminary');
                ?>
                #passthrough-->
            </ul>
        </nav>
        <div class="quick-links">
            <div class="quick-links left">
                <ul>
                    <li>
                        <a class="" href="/about/">About</a>
                    </li>
                    <li>
                        <a class="" href="/academics/">Academics</a>
                    </li>
                    <li>
                        <a class="" href="/admissions/">Admissions</a>
                    </li>
                    <li>
                        <a class="" href="/offices/">Offices</a>
                    </li>
                    <li>
                        <a class="" href="http://athletics.bethel.edu/">Athletics</a>
                    </li>
                    <li>
                        <a class="" href="/events/">Events</a>
                    </li>
                    <!--#passthrough
                    <?php
                        navListItem($startsWith, "about", "/about/", "About");
                        navListItem($startsWith, "academics", "/academics/", "Academics");
                        navListItem($startsWith, "admissions", "/admissions/", "Admissions");
                        navListItem($startsWith, "offices", "/offices/", "Offices");
                        navListItem($startsWith, "http://athletics.bethel.edu/", "http://athletics.bethel.edu/", "Athletics");
                        navListItem($startsWith, "events", "/events/", "Events");
                    ?>
                    #passthrough-->
                </ul>
            </div>
            <div class="quick-links right">
                <ul>
                    <li>
                        <a href="https://apply.bethel.edu">Apply</a>
                    </li>
                    <li>
                        <a href="https://blink.bethel.edu">Blink</a>
                    </li>
                    <li>
                        <a href="/giving/">Give</a>
                    </li>
                    <li>
                        <a class="btn btn-small" href="/search/">Search</a>
                    </li>
                    <!--#passthrough
                    <?php
                    navListItem($startsWith, "giving", "/giving/", "Give");
                    navListItem($startsWith, "search", "/search/", "Search", "btn  btn-small");
                    ?>
                    #passthrough-->
                </ul>
            </div>
        </div>
    </div>
</div>