<div class="global__toolbox" id="toolbox">
<div class="inner">
<a class="global__toolbox__close-btn btn btn-small" href="#top" id="js-globalNav-button--close">✖ close</a>
<nav class="global__navigation" role="navigation">
<ul>
<li><a href='//www.bethel.edu/undergrad/'>Undergrad</a></li><li><a href='//www.bethel.edu/adult-undergrad/'>Adult Undergrad</a></li><li><a href='//www.bethel.edu/graduate/'>Graduate</a></li><li><a href='//www.bethel.edu/seminary/'>Seminary</a></li><li><a href='//www.bethel.edu/academics/online/'>Online</a></li></ul>
</nav>
<div class="quick-links">
<div class="quick-links left">
<ul>
<li><a href='//www.bethel.edu/about/'>About</a></li><li><a href='//www.bethel.edu/academics/'>Academics</a></li><li><a href='//www.bethel.edu/admissions/'>Admissions</a></li><li><a href='//www.bethel.edu/offices/'>Offices</a></li><li><a href='http://athletics.bethel.edu/'>Athletics</a></li><li><a href='//www.bethel.edu/events/'>Events</a></li></ul>
</div>
<div class="quick-links right">
<ul>
<li><a href="https://apply.bethel.edu">Apply</a></li>
<li><a href="https://blink.bethel.edu">Blink</a></li>
<li><a href='//www.bethel.edu/giving/'>Give</a></li><li><a class='btn btn-small' href='//www.bethel.edu/search/'>Search</a></li></ul>
</div> 
</div>
</div> 
</div>